# Gradle
.gradle/
**/.gradle/

# Build output
/build/
**/build/

# Local config
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Android
captures/
.externalNativeBuild/
.cxx/
.navigation/

# Logs / crash / debug
*.log
*.hprof

# MacOS
.DS_Store
